S3method(as.List,default)
S3method(as.Stack,default)
S3method(clear,default)
S3method(first,default)
S3method(last,default)
S3method(pop,default)
S3method(push,default)
S3method(shift,default)
S3method(size,default)
export(tic)
export(tic.clear)
export(tic.clearlog)
export(tic.log)
export(toc)
export(toc.outmsg)
import(methods)
